header {
  background-color: #000000;
  padding:30px 5px 2px 5px;
  text-align: center;
  font-size: 35px;
  font-family: "Times New Roman";
  color: white;
  font-style: italic;
  line-height: 0.8;
  max-width: 100%;
}
/* for navigation bar */
ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li.nav {
  float: left;
  font-family: "Times New Roman", "SimSun";
  border-right: 1px solid #bbb;
}

li.nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.nav a:hover {
  background-color: #111;
}

li.nav:last-child {
    float: right;
    border-right: none;
}