body {
  font-family: "Times New Roman","SimSun";

}
header {
  background-color: white;
  padding: 0px 16px;
  text-align: left;
  font-size: 35px;
  font-family: "Times New Roman","SimSun";
  color: black;
  font-style: italic;
  max-width: 100%;
  margin: -32px 0px -30px 0px;
  display: block;
}

header a {
    text-decoration: none;
}

header a:link {
  color: black;
}

/* visited link */
header a:visited {
  color: black;
}

/* mouse over link */
header a:hover {
  color: Grey;
}

/* selected link */
header a:active {
  color: black;
}
/* for navigation bar */
ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li.nav {
  float: left;
  font-family: "Times New Roman", "SimSun";
  border-right: 1px solid #bbb;
}

li.nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.nav a:hover {
  background-color: #111;
}

li.nav:last-child {
    float: right;
    border-right: none;
}

footer {
  text-align: center;
  padding: 3px 0px;
  background-color: rgba(255, 255, 255, 0);
  color: Grey;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-family: "Times New Roman";
}